.breweryCardContainer {
    display: flex;
    flex-direction: column;
}

.breweryCardHeader {
   display: flex;
   flex-direction: row;
   border: 1px solid black;
   width: 340px;
   height: 65px;
   justify-content: space-between;
}

.breweryCardBody {
   text-align: center;
   border: 1px solid black;
   height: 225px;
    width: 340px;
}

.breweryCardName {
   font-size: 15px;
   margin: 10px;
}

.breweryCardId {
   font-size: 15px;
   margin: 10px;
}

.breweryCardType {
   margin-top: 95px;
   font-size: 15px;
}